<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodingCombat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


</head>

<body>

    <nav class="mainNav">
        
        <ul class="heading">
                <a class="navbar-brand" href="/">
                    <div class="logo-image">
                          <img src="img/logo.jpg" class="img-fluid">
                    
                    </div>
                   
              <!-- </a> -->
              <li class="title">CodeCombat</li>
              </a>
            
            <li class="right"><a href="/login2">Log in</a></li>
            <li class="right"><a href="/login2">Sign up</a></li>
        </ul>
    </nav>

    <div class="home">
        <div class="row">
            <div class="col-md-6 col-sm-12 name">
                <h2><span class="zero">C</span>odeCombat</h2>
                <div class="one animate">Code</div>
                <div class="two animate">Compete</div>
                <div class="three animate">Conquer</div>
                <div class="combat">
                    <h4>Ready For Combat!!</h4>
                </div>
                <div class="join">
                    <!-- <button class="sign-up" ><a href="/login2">Sign Up</a></button> -->
                    <button class="log-in"><a href="/login2">Join Code Combat</a></button>
                </div>

            </div>

            <div class="col-md-6 col-sm-12 fight"><img src="/img/combat.svg" alt="pic"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".one").addClass("origin1");
            $(".two").addClass("origin2");
            $(".three").addClass("origin3");
            $(".combat").addClass("origin4");
            $(".join").addClass("origin5");
        });
    </script>
</body>

</html>