@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #4caf50;
  color: #4caf50;
}

.cover {
  height: 200px;
  background: #2d682f;
 
}

.btn {
  cursor: pointer;
}
.btn.btn-primary {
  background: #4caf50;
  border-color: #4caf50;
}
.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.btn.btn-primary:hover {
  background: #3d8b40;
  border-color: #2d682f;
}
    
    .button :focus {
      box-shadow: 0 0 0 2px rgba(#0275d8, .5);
    }

.navbar-nav.actions {
  flex-direction: row;
}
  
.navbar-nav.nav-link {
    position: relative;
    font-size: 16px;
    padding: 4px 12px;
}
.navbar-nav .badge {
      position: absolute;
      right: 1px;
      top: 1px;
      background: #4caf50;
    }

.small {
  color: #4caf50;
}

.card {
  border: none;
  border-top: 5px solid ;
  border-radius: 0;
  margin-bottom: 30px;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
  
.card  .row {
    width: 100%;
  }
  .card-title {
    margin-bottom: .75rem;
}

.alert {
  margin-bottom: 30px;
}

a.action {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: #0275d8;
}
a.action:hover { color: #0275d8; }


#left {
  margin-top: -150px;
  flex: 0 0 300px;
}

#user .fa { 
  font-size: 20px 
}

#user #userImage {
  background: #4caf50;
  height: 200px;
}
  
  #user #renew {
    display: block;
    width: 100%;
  }
  
  #user .row {
    width: auto;
  }

  #connections .list {
    margin: 15px 30px;
}
#connections .list .list-item {
  width: 30px;
  height: 30px;
  margin: 5px;
  background: #4caf50;
  color: #fff;
  cursor: pointer;
}

    
  
    .list-group-item {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.125);
  }
#upcomingEvents .view {
    flex: 0 0 60px;
 
}

#goals .row .details {
  flex: 0 0 60px;
}

.signup {
  flex: 0 0 125px;
}

#recentActivity em {
    font-style: normal;
    color: #fff;
  }
  #recentActivity em .right{
    flex: 0 0 100px;
    height: 100%;
  }
  #recentActivity em .right .view{
    display: flex;
    justify-content: center;
  }

.list-group-item:first-child {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}
/* .icon {
  position: relative;
  flex: 0 0 40px;
  text-align: center;
  flex-shrink: 0;
  margin-right: 10px;
  font: normal normal normal 14px/1 FontAwesome;

  &.warning:after {
    content: "\f071";
    color: $clr-orange;
    position: absolute;
    font-size: 18px;
    top: 3px;
    left: 28px
  }
} */

@media (max-width: 768px) {
  .navbar-nav.actions {
    position: absolute;
    right: 70px;
  }
}